.body-ult * {
    font-family: 'NotoSans', sans-serif;
}

h2.ult {
    font-size: 2.2em;
}

.home-header-ult {
    background-color: #f5f6fa;
	margin-top: 0;
}

.width-container-ult {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 2.2rem;
    padding-bottom: 4.5rem;
    position: relative;
	margin: auto;
	max-width: 1110px;
}

.input-ult::-webkit-input-placeholder {
    color: #979CA2;
}

.input-ult::-moz-placeholder {
    color: #979CA2;
}

.input-ult:-ms-input-placeholder {
    color: #979CA2;
}

.input-ult::-ms-input-placeholder {
    color: #979CA2;
}

.input-ult::placeholder {
    color: #979CA2;
}

.vertical-bar {
    border: 1px solid #b9b9b9;
	height: 1.4rem;
    left: 2.1rem;
	position: absolute;
    top: 23%;
}

.input-wrapper-ult {
    position: relative;
}

.background-ult {
    background-color: unset !important;
}

.align-lang-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.center-search {
    margin: auto;
	max-width: 50%;
}

.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* MARGINS */
.mt-1 {
    margin-top: 1rem;
}

/* CARD */
.card {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 2rem;
    padding-bottom: 5.5rem;
}

.small-card {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 3rem;
}

.card-header {
    background: #DB2400;
    border-radius: 6px 6px 0px 0px;
    padding: 1.5rem;
    color: #FFFFFF;
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-body {
    color: #80858C;
    position: relative;
}

.card-img {
    min-width: 3rem;
    padding-top: 0.2rem;
}

.card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.7rem 3rem;
}

.card-body-title {
    font-family: Cabin;
    font-weight: bold;
    font-size: 1.3rem;
    color: #39414a;
    margin-bottom: 0.7rem;
}

.card-body-title-blue {
    font-family: Cabin;
    font-weight: bold;
    font-size: 1.3rem;
    color: #0077b3;
    margin-bottom: 0.7rem;
}

.card-title {
    color: #39414a;
    font-family: Cabin;
    font-weight: bold;
    font-size: 2.15rem;
    margin-bottom: 0.7rem;
}

.card-body-text {
    color: #80858c;
}

.card-horizontal-bar {
    margin: 0rem 3rem;
    height: 1px;
    background: #DEDFE4;
}

/* BUTTON */
.see-more-btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.see-more-btn {
    border: 1px solid #dedfe4;
    border-radius: 0.333rem;
    color: #686e76 !important;
    font-family: Cabin;
    font-size: 1rem;
    padding: 0.7rem 1.1rem;
    position: absolute;
}

.see-more-btn:hover {
     border: 1px solid #979ca2;
     color: #39414a !important;
}

/* HOMEPAGE */
.cards-list-ult>div {
    -webkit-box-flex: 0;
        -ms-flex: 0 50%;
            flex: 0 50%;
}

.homepage-container-ult {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    position: relative;
}

.cards-list-ult, .see-more-list-ult {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.column-list-ult {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.card-mr-2 {
    margin-right: 0rem;
}

.card-ml-2 {
    margin-left: 0rem;
}

@media all and (min-width: 50em) {
    .cards-list-ult {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .card-mr-2 {
        margin-right: 2rem;
    }
    
    .card-ml-2 {
        margin-left: 2rem;
    }
}

/* Content Page*/

.sidebar-ult {
    display: none;
}

.sidebar-ult > .wiki-tree {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 15px;
}

/* TODO In mobile set to bottom of the page */

.elm-article-feedback-ult {
    display: block;
    margin-bottom: 0px !important;
	margin-top: 0px;
	top: 0;
}

.elm-main-content-ult {
    max-width: 100%;
}

.elm-content-footer-ult::before {
    height: 0!important;
}

.elm-content-footer-ult {
    display: inline-block !important;
    border-top: unset !important;
    margin-top: 0px !important;
    padding: 0px;
}

.mt-feedback-rating-container-ult {
    display: block;
}

.mt-feedback-rating-item.mt-last-rating-date {
	float: right;
	text-align: right;
}

.mt-feedback-form > fieldset .mt-field:nth-of-type(2) {
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 1.5rem;
	width: 100%;	
}

.wiki-tree * {
    font-size: 14px !important;
    font-family: 'NotoSans', sans-serif;
}

.search-bar-ult {
    width: 90%;
    padding-left: 4%;
    position: absolute;
    top: 70px;
}

@media all and (min-width: 37.5em) {
    .search-bar-ult {
        top: 70px;
    }
}

.jstree-icon .jstree-ocl {
    display: none;
}

li.jstree-node > i {
    right: 0;
    font-style: normal;
}

li[aria-expanded=true]>a.jstree-anchor {
    background: #E8F1F9;
    color: #38BDFF;
}


.jstree-default .jstree-anchor {
    color: #80858C;
    font-weight: 400;
    padding: 8px;
    max-width: 95%;
}

.jstree-anchor {
    width: 99%;
}


[class*=columbia-breadcrumb-home-documentation-10] .jstree-default .jstree-anchor.jstree-clicked {
    color: #38BDFF !important;
}

.jstree-default .jstree-hovered {
    border-bottom: 1px solid white;
}

.jstree-node a:hover {
    color: #80858C;
}


.jstree-default .jstree-closed>.jstree-ocl:before {
    content: '+';
    font-weight: 400;
    color: #80858C;
    position: absolute;
    top: -4px;
}

.jstree-default .jstree-open>.jstree-ocl:before {
    content: '-';
    font-weight: 400;
    color: #80858C;
    position: absolute;
    top: -4px;
}

.search-bar-ult div.form-field div.input-wrapper-ult {
    position: relative;
    z-index: 0 !important;
}

ol.elm-meta-article-navigation {
    display: none !important;
}

.mt-toc-container-ult {
    display: block !important;
    padding: 0px !important;
    background-color: #fff !important;
    border: 0px !important;
    margin: 15px 0px 15px 0px !important;
    max-width: 220px !important;
    float: unset !important;
}

.mt-toc-container-ult button {
    color: #686E76 !important;
    font-family: 'NotoSans', sans-serif !important;
    padding-bottom: 10px;
}

.mt-toc-container-ult ol a {
    color: #0077B2 !important;
    padding-left: 10px;
    font-size: 12px;
}

.mt-toc-container-ult > nav > ol {
    border-left: 1px solid #DEDFE4;
    padding-left: 10px;
}

.mt-toc-container-ult ol li::before {
    display: none;
}

/* TYPOGRAPHY */
[class*=columbia-breadcrumb-home-documentation-10] h1 {
    font-family: Cabin;
    color: #222B34;
    font-size: 1.4rem;
    line-height: 1.3rem;
}

[class*=columbia-breadcrumb-home-documentation-10] h2 {
    font-family: 'NotoSans', sans-serif;
    color: #39414A !important;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

[class*=columbia-breadcrumb-home-documentation-10] h3 {
    font-family: 'NotoSans', sans-serif;
    color: #80858c !important;
    font-size: 1rem;
    line-height: 1.3rem;
}

[class*=columbia-breadcrumb-home-documentation-10] p, li, dl {
    font-size: 0.9rem !important;
    font-family: 'NotoSans', sans-serif !important;
    color: #686E76 !important;
}

[class*=columbia-breadcrumb-home-documentation-10] li, dl {
    color: #80858C !important;
}

fieldset.ui-dform-fieldset {
    background: unset;
	border: 0px;
    padding: 0px;
}

label.mt-feedback-improve-label.ui-dform-label,
/* input.mt-feedback-consent-checkbox, */
/* label.mt-feedback-consent-label, */
button.mt-leave-feedback,
button.mt-feedback-button {
    display: none !important;
}

label.mt-feedback-consent-label {
    color: #686E76;
	width: 90%;
}

.see-more-list-ult .flex-column {
    margin-bottom: 2rem;
    -webkit-box-flex: 0 35%;
        	-ms-flex: 0 35%;
            	flex: 0 35%;
}

.see-more-list-ult .card-block {
    padding: 2.7rem 3rem 0rem 3rem;
}

.card-body-title a {
    color: #39414a;
}

/* LARGER SCREENS */
@media all and (min-width: 80em) {
    div.elm-article-feedback-ult textarea {
        resize: none;
    }

    .mt-toc-container-ult {
        right: -17%;
        position: absolute !important;
        top: 320px;
    }

    .mt-toc-container-ult-fixed {
        margin: 15px 0px 15px 0px !important;
        right: 6%;
        position: fixed !important;
        top: 320px;
    }

    .sidebar-ult {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        padding-left: 9%;
        width: 23%;
        overflow-x: hidden;
        z-index: 10;
    }

    .elm-main-content-ult {
        max-width: 80%;
        padding-left: 24%;
        margin-top: 3rem !important;
    }

    .elm-article-feedback-ult {
        right: -380px;
        width: 200px;
        border-bottom: 1px solid #C6C9CE;
    }

    .search-bar-ult > .form-field {
        padding-left: 50px;
    }

    .search-bar-ult {
        width: 53%;
        padding-left: 24%;
        top: 117px;
    }

    .elm-content-footer-ult {
        position: absolute !important;
        top: 0;
        right: -17%;
    }

    .elm-content-footer-ult-fixed {
        position: fixed !important;
        top: 0;
        right: 6%;
        margin-top: unset !important;
    }

    .mt-toc-container-ult li:before {
        content: unset !important;
    }

    .mt-toc-container-ult ol {
        padding-left: 0px;
    }

    [class*=columbia-breadcrumb-home-documentation-10] p, li, dl {
        font-size: 1rem !important;
    }

    [class*=columbia-breadcrumb-home-documentation-10] h1 {
        color: #686E76;
        font-family: 'NotoSans', sans-serif;
        font-size: 1.5rem !important;
        line-height: 1.8rem;
    }

    [class*=columbia-breadcrumb-home-documentation-10] h2 {
        color: #686E76;
        font-family: 'NotoSans', sans-serif;
        font-size: 1.3rem !important;
        line-height: 1.8rem;
    }

    [class*=columbia-breadcrumb-home-documentation-10] h3 {
        color: #686E76;
        font-family: 'NotoSans', sans-serif;
        font-size: 1.1rem !important;
        line-height: 1.8rem;
    }

    .see-more-list-ult .flex-column {
        margin-left: 4.2rem;
    }

    .card-block {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .see-more-list-ult .card-block {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

/* ADJUSTING POSITIONS */
@media (min-width: 80em) {
    article.elm-content-container.evaluation-kb header {
        padding: 0px 50px 10px 50px !important;
        margin-top: 0;
    }
}

/* BEST PRACTICES */
.columbia-breadcrumb-home-documentation-bestpractices nav.elm-header-global-nav.elm-nav,
.columbia-breadcrumb-home-documentation-bestpractices .elm-content-container header {
    display: none;
    visibility: hidden;
}

.columbia-breadcrumb-home-documentation-bestpractices .elm-content-container.background-ult {
    margin-top: 0px !important;
}

/* HOW TO GUIDES */
.columbia-breadcrumb-home-documentation-how-toguides nav.elm-header-global-nav.elm-nav,
.columbia-breadcrumb-home-documentation-how-toguides .elm-content-container header {
    display: none;
    visibility: hidden;
}

.columbia-breadcrumb-home-documentation-how-toguides .elm-content-container.background-ult {
    margin-top: 0px !important;
}

.elm-meta-data dl {
    font-size: 0.9rem !important;
    font-style: normal;
}

.elm-meta-data dt {
    font-weight: 100 !important;
}

.elm-social-share {
    display: none !important;
}

@media all and (max-width: 768px) {
    /* For mobile and tablet: */
    [class*=columbia-breadcrumb-home-documentation-10] aside#mt-toc-container {    	
    	display: contents !important;
    }

    [class*=columbia-breadcrumb-home-documentation-10] aside#mt-toc-container > button {
    	margin-top: 1.5rem;
    }

    nav.mt-toc-content {
    	border-bottom: 1px solid #DEDFE4;
    	padding: 1rem 0;
    }

	article.elm-content-container {
		margin-top: 0 !important;
	}
	
	[class*=columbia-breadcrumb-home-documentation-10] .elm-meta-top {
    	border-bottom: 1px solid #DEDFE4 !important;
	}
	
	.elm-article-feedback-ult {
		margin-top: 0px !important;
	}
	
	.elm-meta-data li.elm-meta-icons {
		float: right;
		margin-top: 1.5rem;
	}

    .card-header {
        padding: 1.0rem;
        font-family: Noto Sans;
        font-weight: 500;
        font-size: 20px;
    }
    
    .width-container-ult {
		padding-bottom: 0;
	}

	.card-img {
        display: none;
    }
    
    .see-more-list-ult .card-block, .card-block {
        padding: 1rem 1rem 0rem 1rem;
    }
    
    .columbia-breadcrumb-home-documentation-bestpractices .card-body-text {
        display:none;
    }

    .card-body-title-blue {
		font-family: Noto Sans;
        font-weight: normal;
        font-size: 14px;
        color: #32A9E5;
        margin-bottom: 0;
    }
	
    .card-body-title {
        font-size: 18px;
        font-family: Noto Sans;
        margin-bottom: 1rem;
    }
	
    .card-body-text {
        font-size: 14px;
        line-height: 21px;
    }
     
    .small-card {
    	margin-top: 10px;
    	padding-bottom: 10px;
    }
	
    .small-card .card-body-title {
		font-size: 15px;
    }

    .see-more-btn {
        -ms-flex-item-align: end;
            align-self: flex-end;
        width: 49px;
    }
	
    .see-more-btn-wrapper {
    	padding: 20px;
    }

    .card-horizontal-bar {
        margin: 32px 0 0 0;
    }

    .card {
        margin-bottom: 0;
        padding-bottom: 2.5rem;
    }

    .mt-feedback-rating-item {
    	display: inline-block;
    	font-size: 14px !important;
    	margin-top: 0;
    }

    .mt-feedback-rating-item.mt-rating-yes,
    .mt-feedback-rating-item.mt-rating-no {
    	float: none;
    	margin-left: 16px;
    }

    .mt-feedback-rating-item.mt-rating-yes > button,
    .mt-feedback-rating-item.mt-rating-no > button,
    #feedback-link-wrapper {
    	font-size: 14px !important;
    }
}

/* SUPPORT KB fixes */
@media (min-width: 18.75em) {
	[class*=columbia-breadcrumb-home-documentation-10]:not([class*=columbia-breadcrumb-home-support]) .evaluation-kb li.mt-sortable-listing .mt-listing-detailed {
		padding: 1em 1.25em;
	}
	
	[class*=columbia-breadcrumb-home-documentation-10]:not([class*=columbia-breadcrumb-home-support]) .evaluation-kb li.mt-sortable-listing {
		padding: 0;
	}
}

@media (min-width: 37.5em) {
	[class*=columbia-breadcrumb-home-documentation-10]:not([class*=columbia-breadcrumb-home-support]) .evaluation-kb li.mt-sortable-listing {
		padding: 10px 20px;
	}
}

[class*=columbia-breadcrumb-home-documentation-10]:not([class*=columbia-breadcrumb-home-support]) .evaluation-kb li.mt-sortable-listing {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50em;
            flex: 1 1 50em;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    border-left-width: 3px;
    border-left-style: solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px #ddd;
            box-shadow: 1px 1px 5px #ddd
}
